* {
    /* this ensures that the box sizing is good even for old websites*/
    -webkit-box-sizing: border-box;
    -moz-box-sizibg: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(127, 190, 245);
    --burger-color: rgb(62, 136, 201);
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: aliceblue;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small screen*/
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/*medium screen*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/*large screen*/
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end of global rules*/

/* start header*/
.header {

    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .links {
    position: relative;

}

.header .links:hover .icon span:nth-child(2) {
    width: 100px;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icon span {
    background-color: var(--burger-color);
    margin-bottom: 5px;
    height: 3px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 65%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.logo {
    width: 60px;
    height: auto;
    object-fit: contain;
}

.header .links ul:before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent aliceblue transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    border-radius: 10px;
    box-shadow: .5em 4px 2em rgb(37, 40, 46);


}

.header .links:hover ul {
    display: block;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1.5px solid rgb(218, 238, 255);
}

.cta-button {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: #1c1a1a;
    transition: 0.3s;

}

.cta-button:hover {
    padding-left: 50px;
    text-decoration: none;

}

/* end of header*/

/* Start landing section */
.landing {
    background-image: url(../images/erico-marcelino-91QHQ3GGh9I-unsplash.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .intro-text h1 {
    margin: 0;
    color: rgb(19, 122, 211);
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.8;
}

/* End landing section */

/*start features sections*/
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: aliceblue;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feats {
    padding: 20px;
    text-align: center;
}

.features .feats i {
    color: var(--burger-color);
}

.features .feats i:hover {
    transform: scale(1.1);
}

.features .feats h3 {
    margin: 30px 0;
    /* top and bottom 30 and left and right 0*/
}

.features .feats p {
    line-height: 1.8;
}

#hoto {
    margin: 18px auto;
}

#hoto:hover {
    background-image: linear-gradient(to right, rgb(236, 56, 11), rgb(217, 151, 29));
}

#mindo {
    margin: 18px auto;
}

#mindo:hover {
    background-image: linear-gradient(to right, rgb(37, 188, 234), rgb(150, 16, 162));
}

#eato {
    margin: 18px auto;
}

#eato:hover {
    background-image: linear-gradient(to right, rgb(31, 180, 28), rgb(57, 109, 24));
}

.cta-button1 {
    display: block;
    padding: 3px;
    transition: 0.3s;
    width: max-content;

}

.cta-button1:hover {
    transform: scale(1.1);
    width: max-content;
    align-items: center;
    transition: 0.3s;
    border-radius: 10px;
}

/* End features sections*/